{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Now UI Dashboard Pro by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="{% static 'dashboard/now-ui-dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/now-ui-dashboard/assets/css/now-ui-dashboard.css' %}?v=1.0.0" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'dashboard/now-ui-dashboard/assets/assets-for-demo/demo.css' %}" rel="stylesheet"/>
</head>

<body>
{% block topbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
        <div class="container">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#pablo">Crypto Povery</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="../dashboard.html" class="nav-link">
                            <i class="now-ui-icons design_app"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="register.html" class="nav-link">
                            <i class="now-ui-icons tech_mobile"></i> Register
                        </a>
                    </li>
                    <li class="nav-item  active ">
                        <a href="login.html" class="nav-link">
                            <i class="now-ui-icons users_circle-08"></i> Login
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="pricing.html" class="nav-link">
                            <i class="now-ui-icons now-ui-icons business_money-coins"></i> Pricing
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="lock.html" class="nav-link">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i> Lock
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock topbar %}


<!-- End Navbar -->
<div class="wrapper wrapper-full-page">
    <div class="{% block wrapper_class %}full-page login-page section-image{% endblock wrapper_class %}" filter-color="black"
         data-image="{% static 'dashboard/now-ui-dashboard/assets/img/bg14.jpg' %}">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            {% block main %}
                <div class="container">
                    <div class="col-md-4 ml-auto mr-auto">
                        <form class="form" method="" action="">
                            <div class="card card-login card-plain">
                                <div class="card-header ">
                                    <div class="logo-container">
                                        <img src="{% static 'dashboard/now-ui-dashboard/assets/img/now-logo.png' %}"
                                             alt="">
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="input-group no-border form-control-lg">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="First Name...">
                                    </div>
                                    <div class="input-group no-border form-control-lg">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                        <input type="text" placeholder="Last Name..." class="form-control">
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                                    <div class="pull-left">
                                        <h6>
                                            <a href="#pablo" class="link footer-link">Create Account</a>
                                        </h6>
                                    </div>
                                    <div class="pull-right">
                                        <h6>
                                            <a href="#pablo" class="link footer-link">Need Help?</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock main %}
        </div>
        {% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.creative-tim.com">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                          document.write(new Date().getFullYear())
                        </script>
                        , Designed by
                        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </div>
                </div>
            </footer>
        {% endblock footer %}

    </div>
</div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Sweet Alert -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/sweetalert2.min.js' %}"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/jquery.validate.min.js' %}"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/fullcalendar.min.js' %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/jquery-jvectormap.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/nouislider.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/js/now-ui-dashboard.js?v=1.0.0' %}"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'dashboard/now-ui-dashboard/assets/assets-for-demo/js/demo.js' %}"></script>
<script>
  $(document).ready(function () {
    demo.checkFullPageBackgroundImage();
  });
</script>

</html>