{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans 'Deposits' %}</h4>
                    <p class="category">{% trans 'Here is a list of all deposits.' %}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>{% trans 'exchange' %}</th>
                                <th>{% trans 'date' %}</th>
                                <th class="text-right">{% trans 'money' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deposit in deposit_list %}
                                <tr>
                                    <td>{{ deposit.exchange }}</td>
                                    <td>{{ deposit.created }}</td>
                                    <td class="text-right">{{ deposit.quantity }} {{ deposit.money }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'deposit-update' deposit.pk %}"
                                           class="btn btn-info btn-icon btn-sm "
                                           data-original-title="" title="">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                        <a href="{% url 'deposit-delete' deposit.pk %}"
                                           class="btn btn-danger btn-icon btn-sm "
                                           data-original-title="" title="">
                                            <i class="fa fa-trash-alt"
                                               aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="td-total" colspan="2">{% trans 'total deposit value' %}</td>
                                <td class="td-price">{{ total_deposit_eur.quantity }} {{ total_deposit_eur.money }}</td>
                                <td class="text-right"><a href="{% url 'deposit-create' %}"
                                       class="btn btn-primary btn-round">
                                    {% trans 'add deposit' %}&nbsp;&nbsp;
                                    <i class="fa fa-plus"
                                       aria-hidden="true"></i>
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock main %}