{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans 'Exchanges API keys' %}</h4>
                    <p class="category">{% trans 'Here is a list of all the api keys available for crypto.' %}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>{% trans 'exchange' %}</th>
                                <th>{% trans 'date' %}</th>
                                <th>{% trans 'key' %}</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for userexchange in userexchange_list %}
                                <tr>
                                    <td>{{ userexchange.exchange.name }}</td>
                                    <td>{{ userexchange.created }}</td>
                                    <td>{{ userexchange.key|truncatechars:20 }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'user_exchange-update' userexchange.pk %}"
                                           class="btn btn-info btn-icon btn-sm "
                                           data-original-title="" title="">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                        <a href="{% url 'user_exchange-delete' userexchange.pk %}"
                                           class="btn btn-danger btn-icon btn-sm "
                                           data-original-title="" title="">
                                            <i class="fa fa-trash-alt"
                                               aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3"></td>

                                <td><a href="{% url 'user_exchange-create' %}"
                                       class="btn btn-primary btn-round">
                                    {% trans 'add API key' %}&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}