{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">{% trans 'Operations' %}</h4>
                    <p class="category">{% trans 'Here is a list of all operations.' %}</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>{% trans 'opened' %}</th>
                        <th>{% trans 'closed' %}</th>
                        <th>{% trans 'operation status' %}</th>
                        <th>{% trans 'current gain usd' %}</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for operation in operation_list %}
                            <tr>
                                <td>{{ operation.opened_trade.side }} {{ operation.opened_trade.amount }} {{ operation.opened_trade.symbol }}</td>
                                <td>{{ operation.closed_trade.side }} {{ operation.closed_trade.amount }} {{ operation.closed_trade.symbol }}</td>
                                <td>{{ operation.closed_trade.status }}</td>
                                <td>{{ operation.gain_value_string }}</td>
                                <td>
                                    <a href="{% url 'operation-update' operation.pk %}" class="btn btn-info btn-round"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="{% url 'operation-delete' operation.pk %}" class="btn btn-danger btn-round"><i
                                            class="fa fa-remove" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="table-primary">
                            <td colspan="4"></td>
                            <td><a href="{% url 'operation-create' %}"
                                   class="btn btn-primary btn-round">
                                {% trans 'add operation' %}&nbsp;&nbsp;
                                <i class="fa fa-plus"
                                   aria-hidden="true"></i>
                            </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock main %}