{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">{% trans 'Delete the deposit' %}</h4>
                    <p class="category">{% trans '' %}</p>
                </div>
                <div class="card-content">
                    <form method="post" action="">
                        {% csrf_token %}
                        <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>

                        <a href="{% url 'deposit-list' %}" type="submit" class="btn btn-primary pull-left">{% trans 'Cancel' %}</a>
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'Confirm' %}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg"/>
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4>
                    <p class="card-content">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love
                        you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}