{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-header text-center" data-background-color="purple">
                    <h4 class="title">{% trans 'Change password' %}</h4>
                    {#                    <p class="category">{% trans 'Go back to your profile.' %} <a href="{% url 'change_password' %}">{% trans 'Click here' %}</a>. </p>#}

                </div>
                <div class="card-content">

                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.old_password.label }}</label>
                                    {{ form.old_password|add_class:"form-control" }}
                                    <small class="form-text text-muted">
                                        {{ form.old_password.help_text }}
                                    </small>
                                    {% for error in form.old_password.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.new_password1.label }}</label>
                                    {{ form.new_password1|add_class:"form-control" }}
                                    <small class="form-text text-muted">
                                        {{ form.new_password1.help_text }}
                                    </small>
                                    {% for error in form.new_password1.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.new_password2.label }}</label>
                                    {{ form.new_password2|add_class:"form-control" }}
                                    <small class="form-text text-muted">
                                        {{ form.new_password2.help_text }}
                                    </small>
                                    {% for error in form.new_password2.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback">{{ forms.non_field_errors }}</div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'ok' %}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}