{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-header text-center" data-background-color="purple">
                    <h4 class="title">{% trans 'Sign in' %}</h4>
                    <p class="category">{% trans 'Do you want to create an account?' %} <a href="{% url 'register' %}">Sign Up here</a> </p>
                </div>
                <div class="card-content">

                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.username.label }}</label>
                                    {{ form.username|add_class:"form-control" }}
                                    {% for error in form.username.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.password.label }}</label>
                                    {{ form.password|add_class:"form-control" }}
                                    {% for error in form.password.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback">{{ forms.non_field_errors }}</div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'ok' %}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}