{% extends 'layouts/base_login_signup.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{#{% block sidebar %}#}
{#{% endblock sidebar %}#}
{##}
{#{% block main %}#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-md-offset-3">#}
{#            <div class="card">#}
{#                <div class="card-header text-center" data-background-color="purple">#}
{#                    <h4 class="title">{% trans 'Sign in' %}</h4>#}
{#                    <p class="category">{% trans 'Do you want to create an account?' %} <a href="{% url 'register' %}">Sign Up here</a> </p>#}
{#                </div>#}
{#                <div class="card-content">#}
{##}
{#                    <form method="post" action="">#}
{#                        {% csrf_token %}#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.username.label }}</label>#}
{#                                    {{ form.username|add_class:"form-control" }}#}
{#                                    {% for error in form.username.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.password.label }}</label>#}
{#                                    {{ form.password|add_class:"form-control" }}#}
{#                                    {% for error in form.password.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="invalid-feedback">{{ forms.non_field_errors }}</div>#}
{#                        <button type="submit" class="btn btn-primary pull-right">{% trans 'ok' %}</button>#}
{#                        <div class="clearfix"></div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock main %}#}
{% block wrapper_class %}full-page login-page section-image{% endblock wrapper_class %}

{% block main %}
    <div class="container">
        <div class="col-md-4 ml-auto mr-auto">

            <form method="post" action="">
                <div class="card card-login card-plain">
                    <div class="card-header ">
                        <div class="logo-container">
                            <img src="{% static 'dashboard/now-ui-dashboard/assets/img/now-logo.png' %}"
                                 alt="">
                        </div>
                    </div>
                    <div class="card-body ">
                        {% csrf_token %}
                        {% bootstrap_form form field_class='input-group no-border form-control-l' layout='inline' %}


                    </div>
                    <div class="card-footer ">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">{% trans 'Sign in' %}</button>
                        {% endbuttons %}
                        <div class="pull-left">
                            <h6>
                                <a href="{% url 'register' %}" class="link footer-link">{% trans 'Create Account' %}</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="#pablo" class="link footer-link">Need Help?</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}