{% extends 'layouts/base_login_signup.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block sidebar %}
{% endblock sidebar %}

{#{% block main %}#}
{#    <div class="row">#}
{#        <div class="col-md-6 col-md-offset-3">#}
{#            <div class="card">#}
{#                <div class="card-header text-center" data-background-color="purple">#}
{#                    <h4 class="title">{% trans 'Register to Crypto' %}</h4>#}
{#                    <p class="category">{% trans 'Are you already registered?' %} <a href="{% url 'login' %}">Sign In here</a> </p>#}
{##}
{#                </div>#}
{#                <div class="card-content">#}
{##}
{#                    <form method="post" action="">#}
{#                        {% csrf_token %}#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.first_name.label }}</label>#}
{#                                    {{ form.first_name|add_class:"form-control" }}#}
{#                                    {% for error in form.first_name.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.last_name.label }}</label>#}
{#                                    {{ form.last_name|add_class:"form-control" }}#}
{#                                    {% for error in form.last_name.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.email.label }}</label>#}
{#                                    {{ form.email|add_class:"form-control" }}#}
{#                                    {% for error in form.email.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.password1.label }}</label>#}
{#                                    {{ form.password1|add_class:"form-control" }}#}
{#                                    {% for error in form.password1.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.password2.label }}</label>#}
{#                                    {{ form.password2|add_class:"form-control" }}#}
{#                                    <small class="form-text text-muted">#}
{##}
{#                                        {{ form.password2.help_text }}#}
{#                                    </small>#}
{#                                    {% for error in form.password2.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="form-group label-floating">#}
{#                                    <label class="control-label">{{ form.token.label }}</label>#}
{#                                    {{ form.token|add_class:"form-control" }}#}
{#                                    {% for error in form.token.errors %}#}
{#                                        <div class="invalid-feedback">{{ error }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="invalid-feedback">{{ forms.non_field_errors }}</div>#}
{#                        <button type="submit" class="btn btn-primary pull-right">{% trans 'ok' %}</button>#}
{#                        <div class="clearfix"></div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock main %}#}

{% block wrapper_class %}full-page register-page section-image{% endblock wrapper_class %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="info-area info-horizontal mt-5">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons media-2_sound-wave"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Marketing</h5>
                        <p class="description">
                            We've created the marketing campaign of the website. It was a very interesting
                            collaboration.
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal">
                    <div class="icon icon-primary">
                        <i class="now-ui-icons media-1_button-pause"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Fully Coded in HTML5</h5>
                        <p class="description">
                            We've developed the website with HTML5 and CSS3. The client has access to the code using
                            GitHub.
                        </p>
                    </div>
                </div>
                <div class="info-area info-horizontal">
                    <div class="icon icon-info">
                        <i class="now-ui-icons users_single-02"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Built Audience</h5>
                        <p class="description">
                            There is also a Fully Customizable CMS Admin Dashboard for this product.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mr-auto">
                <div class="card card-signup text-center">
                    <div class="card-header ">
                        <h4 class="card-title">Register</h4>
                        <div class="social">
                            <button class="btn btn-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-dribbble">
                                <i class="fa fa-dribbble"></i>
                            </button>
                            <button class="btn btn-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                            </button>
                            <h5 class="card-description"> or be classical </h5>
                        </div>
                    </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="card-body ">
                            {#                                        <div class="input-group">#}
                            {#                                            <span class="input-group-addon">#}
                            {#                                                <i class="now-ui-icons users_circle-08"></i>#}
                            {#                                            </span>#}
                            {#                                            <input type="text" class="form-control" placeholder="First Name...">#}
                            {#                                        </div>#}
                            {#                                        <div class="input-group">#}
                            {#                                            <span class="input-group-addon">#}
                            {#                                                <i class="now-ui-icons text_caps-small"></i>#}
                            {#                                            </span>#}
                            {#                                            <input type="text" placeholder="Last Name..." class="form-control">#}
                            {#                                        </div>#}
                            {#                                        <div class="input-group">#}
                            {#                                            <span class="input-group-addon">#}
                            {#                                                <i class="now-ui-icons ui-1_email-85"></i>#}
                            {#                                            </span>#}
                            {#                                            <input type="text" class="form-control" placeholder="Email...">#}
                            {#                                        </div>#}

                            {% bootstrap_form form field_class='input-group' layout='inline' %}

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    I agree to the
                                    <a href="#something">terms and conditions</a>.
                                </label>
                            </div>


                        </div>
                        <div class="card-footer ">

                            {% buttons %}
                                <button type="submit"
                                        class="btn btn-primary btn-round btn-lg">{% trans 'Sign up' %}</button>
                            {% endbuttons %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}