{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-header text-center" data-background-color="purple">
                    <h4 class="title">{% trans 'Register to Crypto' %}</h4>
                    <p class="category">{% trans 'Are you already registered?' %} <a href="{% url 'login' %}">Sign In here</a> </p>

                </div>
                <div class="card-content">

                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.first_name.label }}</label>
                                    {{ form.first_name|add_class:"form-control" }}
                                    {% for error in form.first_name.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.last_name.label }}</label>
                                    {{ form.last_name|add_class:"form-control" }}
                                    {% for error in form.last_name.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.email.label }}</label>
                                    {{ form.email|add_class:"form-control" }}
                                    {% for error in form.email.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.password1.label }}</label>
                                    {{ form.password1|add_class:"form-control" }}
                                    {% for error in form.password1.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.password2.label }}</label>
                                    {{ form.password2|add_class:"form-control" }}
                                    <small class="form-text text-muted">

                                        {{ form.password2.help_text }}
                                    </small>
                                    {% for error in form.password2.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{ form.token.label }}</label>
                                    {{ form.token|add_class:"form-control" }}
                                    {% for error in form.token.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback">{{ forms.non_field_errors }}</div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans 'ok' %}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}