{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="post" action="">
                    <div class="card-header">
                        <h5 class="title">{% trans 'Update your profile' %}</h5>
                        <p class="category">{% trans 'Do you want to change your passord?' %} <a
                                href="{% url 'change_password' %}">{% trans 'Change it here' %}</a>. </p>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {% bootstrap_form form layout='horizontal' %}


                    </div>
                    <div class="card-footer ">
                        {% buttons %}
                            <button type="submit" class="btn btn-fill btn-primary">Update</button>
                        {% endbuttons %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}