{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-header text-center" data-background-color="purple">
                    <h4 class="title">{% trans 'Wait List' %}</h4>
                    <p class="category">{% trans 'We want fast site' %}</p>
                </div>
                <div class="card-content">
                    {% trans 'waitlist content' %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}