{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block main %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">euro_symbol</i>
                </div>
                <div class="card-content">
                    <p class="category">{% trans 'Portfolio value' %}</p>
                    <h3 class="title">{{ portfolio.total_balance.quantity }}
                        <small>€</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i> <a
                            href="{% url 'balances' %}">{% trans 'See more balance info' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">euro_symbol</i>
                </div>
                <div class="card-content">
                    <p class="category">{% trans 'Portfolio deposit' %}</p>
                    <h3 class="title">{{ portfolio.total_deposit.quantity }}
                        <small>€</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> <a
                            href="{% url 'deposit-list' %}">{% trans 'Edit your deposits' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">euro_symbol</i>
                </div>
                <div class="card-content">
                    <p class="category">{% trans 'Portfolio gain' %}</p>
                    <h3 class="title">{{ portfolio.total_gain.quantity }}
                        <small>€</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    {% if total_gain_percent != 0 %}
                        <i class="fa fa-percent"></i>
                    {% else %}
                        <i class="fa fa-warning"></i>
                    {% endif %}

                </div>
                <div class="card-content">

                    <p class="category">{% trans 'Portfolio gain' %}</p>
                    <h3 class="title">
                        {% if total_gain_percent != 0 %}
                            {{ portfolio.total_gain_percent }}
                            <small>%</small>
                        {% else %}
                            {% trans 'No deposits.' %}
                            {{ portfolio.total_gain_percent }}
                        {% endif %}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-chart" data-background-color="green">
                    <div class="ct-chart" id="lastDayBalanceChart"></div>
                </div>
                <div class="card-content">
                    <h4 class="title">{% trans 'Last day balance' %}</h4>
                    <p class="category"><span
                            class="text-success">{{ charts.last_day_balance.max }} {{ charts.last_day_balance.money }} </span>
                        {% blocktrans %}Max value today.{% endblocktrans %}.</p>

                    {#                    <p class="category">#}
                    {#                        {% blocktrans%}Earned <span class="text-success">{{earned_today}} {{ charts.last_day_balance.money }} Today.</span>{% endblocktrans%}.</p>#}
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated every hour
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-chart" data-background-color="red">
                    <div class="ct-chart" id="lastHourBalanceChart"></div>
                </div>
                <div class="card-content">
                    <h4 class="title">{% trans 'Last hour balance' %}</h4>
                    <p class="category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated every 5 minutes
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-8">
            <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="purple">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title hidden-xs">{% trans 'Exchanges' %}:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                {% for exchange in exchanges_data %}
                                    <li {% if forloop.first %}class="active"{% endif %}>
                                        <a href="#{{ exchange.code }}" data-toggle="tab">
                                            {#                      <i class="material-icons">business_center</i>#}
                                            {{ exchange.name }}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-content">
                    <div class="tab-content">
                        {% for exchange in exchanges_data %}
                            <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ exchange.code }}">
                                <table class="table">
                                    <thead class="text-primary">
                                    <th>{% trans 'crypto' %}</th>
                                    <th class="text-right"><strong>{% trans 'unit value' %}</strong></th>
                                    <th class="text-right">{% trans 'value' %}</th>
                                    </thead>
                                    <tbody>
                                    {% for money, values in exchange.deposits.items %}
                                        <tr>
                                            <td>{{ money }} <i class="cf cf-{{ money.lower }}"></i></td>
                                            <td class="text-right text-success">
                                                <strong>{{ values.unit_value_fiat.quantity }} {{ values.unit_value_fiat.money }}</strong>
                                            </td>
                                            <td class="text-right">{{ values.total_value_fiat.quantity }} {{ values.total_value_fiat.money }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {#    <div class="col-lg-6 col-md-12">#}
        {#      <div class="card">#}
        {#        <div class="card-header" data-background-color="orange">#}
        {#          <h4 class="title">Employees Stats</h4>#}
        {#          <p class="category">New employees on 15th September, 2016</p>#}
        {#        </div>#}
        {#        <div class="card-content table-responsive">#}
        {#          <table class="table table-hover">#}
        {#            <thead class="text-warning">#}
        {#            <th>ID</th>#}
        {#            <th>Name</th>#}
        {#            <th>Salary</th>#}
        {#            <th>Country</th>#}
        {#            </thead>#}
        {#            <tbody>#}
        {#            <tr>#}
        {#              <td>1</td>#}
        {#              <td>Dakota Rice</td>#}
        {#              <td>$36,738</td>#}
        {#              <td>Niger</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#              <td>2</td>#}
        {#              <td>Minerva Hooper</td>#}
        {#              <td>$23,789</td>#}
        {#              <td>Curaçao</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#              <td>3</td>#}
        {#              <td>Sage Rodriguez</td>#}
        {#              <td>$56,142</td>#}
        {#              <td>Netherlands</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#              <td>4</td>#}
        {#              <td>Philip Chaney</td>#}
        {#              <td>$38,735</td>#}
        {#              <td>Korea, South</td>#}
        {#            </tr>#}
        {#            </tbody>#}
        {#          </table>#}
        {#        </div>#}
        {#      </div>#}
        {#    </div>#}
    </div>
{% endblock main %}

{% block bottom_scripts %}
    <script src="{% static 'dashboard/home/charts.js' %}"></script>
    <script type="text/javascript">

      dataLastDayBalanceLabels = {{ charts.last_day_balance.labels|safe }};
      dataLastDaySeries = {{ charts.last_day_balance.series|safe }};
      dataLastDaySeriesMin = {{ charts.last_day_balance.min }};
      dataLastDaySeriesMax = {{ charts.last_day_balance.max }};

      dataLastHourBalanceLabels = {{ charts.last_hour_balance.labels|safe }};
      dataLastHourSeries = {{ charts.last_hour_balance.series|safe }};
      dataLastHourSeriesMin = {{ charts.last_hour_balance.min }};
      dataLastHourSeriesMax = {{ charts.last_hour_balance.max }};


      $(document).ready(function () {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

      });
    </script>
{% endblock bottom_scripts %}