{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}

{% block main %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans 'total balance' %}</h4>
                    <p class="category">{% trans 'this is the sum of all the cryptocurrency in all the exchanges.' %}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="text-primary">
                            <tr>
                                <th class="text-center">
                                    {% trans 'crypto' %}
                                </th>
                                <th>
                                    {% trans 'unit price in euro' %}
                                </th>
                                <th class="text-right">
                                    {% trans 'quantity' %}
                                </th>
                                <th class="text-right">
                                    {% trans 'value in euro' %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for money in total_currencies_data %}

                                <tr>

                                    <td class="text-center">
                                        {{ money.money }} <i class="cf cf-{{ money.money.lower }}"></i>
                                    </td>
                                    <td>
                                        {{ money.unit_value_fiat.quantity }} {{ money.unit_value_fiat.money }}
                                    </td>

                                    <td class="text-right">
                                        {{ money.quantity }}
                                    </td>
                                    <td class="text-right">
                                        {{ money.total_value_fiat.quantity }} {{ money.total_value_fiat.money }}
                                    </td>

                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="2"></td>
                                <td class="td-total">{% trans 'Total balance value' %}</td>
                                <td class="td-price">{{ total_balance.quantity }} {{ total_balance.money }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        {% for exchange in exchanges_data %}

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ exchange.name }}</h4>
                        <p class="category">{% trans 'last sync' %}: {{ exchange.last_sync }}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                <tr>
                                    <th class="text-center">
                                        {% trans 'crypto' %}
                                    </th>
                                    <th>
                                        {% trans 'unit price in euro' %}
                                    </th>
                                    <th class="text-right">
                                        {% trans 'quantity' %}
                                    </th>
                                    <th class="text-right">
                                        {% trans 'value in euro' %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for money, values in exchange.deposits.items %}

                                    <tr>

                                        <td class="text-center">
                                            {{ money }} <i class="cf cf-{{ money.lower }}"></i>
                                        </td>
                                        <td>
                                            {{ values.quantity }}
                                        </td>

                                        <td class="text-right">
                                            {{ values.unit_value_fiat.quantity }} {{ values.unit_value_fiat.money }}
                                        </td>
                                        <td class="text-right">
                                            {{ values.total_value_fiat.quantity }} {{ values.total_value_fiat.money }}
                                        </td>

                                    </tr>
                                {% endfor %}

                                <tr>
                                    <td colspan="2"></td>
                                    <td class="td-total">{{ exchange.name }} {% trans 'deposit value' %}</td>
                                    <td class="td-price">{{ exchange.total_deposit_fiat.quantity }} {{ exchange.total_deposit_fiat.money }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}